.clickable {
  cursor: pointer
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active {
  color: rgb(255,255,255);
  background-color: rgb(113,24,52);
  border-color: rgb(113,24,52);
  font-weight: 450;
}
.btn-light {
  border-color: rgb(113,24,52);
  background-color: rgb(255,255,255);
  color: rgb(113,24,52);
  font-weight: 450;
}
.btn-light-disabled {
  border-color: rgb(113,24,52);
  background-color: rgb(255,255,255);
  color: rgb(113,24,52);
  font-weight: 450;
}