<div class="container mt-3">
  <div class="row">
    <div class="col-6 col-sm-3 pr-0 pl-5 px-sm-0">
      <div class="row width-100 d-flex justify-content-center">
        <h5 appFontSize [sizes]="[20,17,14,12,12]" class="black mb-0">Estacionamento</h5>
      </div>
      <div class="row width-100 d-flex justify-content-center">
        <i appFontSize [sizes]="[50,40,30,25,25]" class="icon-cab"></i>
      </div>
    </div>
    <div class="col-6 col-sm-3 pl-0 pr-5 px-sm-0">
      <div class="row width-100 d-flex justify-content-center">
        <h5 appFontSize [sizes]="[20,17,14,12,12]" class="black mb-0">Wi-fi</h5>
      </div>
      <div class="row width-100 d-flex justify-content-center">
        <i appFontSize [sizes]="[50,40,30,25,25]" class="icon-wifi"></i>
      </div>
    </div>
    <div class="col-6 col-sm-3 pr-0 pl-5 px-sm-0 mt-3 mt-sm-0">
      <div class="row width-100 d-flex justify-content-center">
        <h5 appFontSize [sizes]="[20,17,14,12,12]" class="black mb-0">Delivery</h5>
      </div>
      <div class="row width-100 d-flex justify-content-center">
        <i appFontSize [sizes]="[50,40,30,25,25]" class="icon-motorcycle"></i>
      </div>
      <div class="row width-100 d-flex flex-column align-items-center">
        <h6 appFontSize [sizes]="[16,14,12,10,10]" class="gray-text mb-0"><i class="icon-phone"></i>(16) 3419-9717</h6>
        <h6 appFontSize [sizes]="[16,14,12,10,10]" class="gray-text mb-0"><i class="icon-whatsapp"></i>(16) 99303-3218</h6>
      </div>
    </div>
    <div class="col-6 col-sm-3 pl-0 pr-5 px-sm-0 mt-3 mt-sm-0">
      <div class="row width-100 d-flex justify-content-center">
        <h5 appFontSize [sizes]="[20,17,14,12,12]" class="black mb-0">Pagamento</h5>
      </div>
      <div class="row width-100 d-flex justify-content-center">
        <i appFontSize [sizes]="[50,40,30,25,25]" class="icon-credit-card"></i>
      </div>
      <div class="row width-100 d-flex justify-content-center">
        <h6 appFontSize [sizes]="[16,14,12,10,10]" class="gray-text mb-0">Master, Visa, Alelo</h6>
      </div>
    </div>
  </div>
</div>