<div class="container-inline gray bt">
  <div class="container py-2 d-flex justify-content-between">
    <img src="assets/favicon.png" style="width:30px;height:30px;" alt="banner">
    <a pageScroll [pageScrollDuration]="400" href="#home">
      <button type="submit" appFontSize [sizes]="[14,13,12,11,11]" class="btn btn-light btn-sm clickable">
        Topo
      </button>
    </a>
    <a href="https://www.facebook.com/marinarestaurante">
      <i appFade appFontSize [sizes]="[15,14,14,13,13]" class="icon-facebook circled white"></i>
    </a>
  </div>
</div>