<div class="container-fluid">
  <div class="row d-flex bb">
    <nav class="navbar navbar-expand-md navbar-light bg-faded width-100 justify-content-between justify-content-md-center">
      <a class="d-md-none" href="https://www.facebook.com/marinarestaurante">
        <i appFade class="icon-facebook"></i>
      </a>
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo/marina.jpg" width="286" height="130" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  <div class="row">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-faded">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="nav width-100 d-flex justify-content-center justify-content-md-between">
            <li class="nav-item d-none d-md-block">
              <div class="d-flex flex-column">
                <span><i class="icon-phone"></i>(61) 3022.2129</span>
                <span><i class="icon-whatsapp"></i>(61) 3022.2129</span>
              </div>
            </li>
            <li class="nav-item d-flex flex-column flex-md-row align-items-md-center">
              <a appFade class="nav-link dark" href="#">Home</a>
              <a appFade class="nav-link dark" href="#">Sobre nós</a>
              <a appFade class="nav-link dark" href="#">Cardápio</a>
              <a appFade class="nav-link dark" href="#">Contato</a>
            </li>
            <li class="nav-item d-none d-md-block">
              <div class="height-100 d-flex align-items-md-center">
                <a class="nav-link" href="https://www.facebook.com/marinarestaurante">
                  <i appFade class="icon-facebook"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>