<div class="container-fluid" id="home">
  <div class="row d-flex bb">
    <nav class="navbar navbar-expand-md navbar-light width-100 justify-content-between justify-content-md-center">
      <div class="d-md-none d-flex flex-column height-100 justify-content-between">
        <a class="nav-link p-0" href="https://www.facebook.com/marinarestaurante">
          <i appFade appFontSize [sizes]="[0,0,13,12,11]" class="icon-facebook circled"></i>
        </a>
        <a class="nav-link p-0 d-flex justify-content-center" href="https://www.deliverymuch.com.br/marina-restaurante">
          <img src="assets/img/logo/delivery-much-icon.jpg" style="height:25px" class="mx-0" alt="banner-delivery-much">
        </a>
      </div>
      <a href="#">
        <img appResponsiveLogo src="/assets/img/logo/marina.jpg" alt="">
      </a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon btn btn-sm"></span>
      </button>
    </nav>
  </div>
  <div class="row">
    <div appFluid [width]="1200" class="p-0">
      <nav class="navbar navbar-expand-md p-0 navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="nav width-100 d-flex justify-content-center">
            <li class="col-3 d-none d-md-block">
              <a href="https://www.deliverymuch.com.br/marina-restaurante">
                <img src="assets/img/logo/delivery-much.png" style="height:52px" class="mt-1" alt="banner-delivery-much">
              </a>
            </li>
            <li class="col-4 col-sm-3 col-md-7 col-lg-6 d-flex flex-column flex-md-row align-items-md-center justify-content-md-center">
              <a appFade appToggleLink appFontSize [sizes]="[16,15,14,12,10]" pageScroll href="#home">Home</a>
              <a appFade appToggleLink appFontSize [sizes]="[16,15,14,12,10]" pageScroll href="#">Sobre nós</a>
              <a appFade appToggleLink appFontSize [sizes]="[16,15,14,12,10]" pageScroll [pageScrollDuration]="200" href="#clientes">Nossos Clientes</a>
              <a appFade appToggleLink appFontSize [sizes]="[16,15,14,12,10]" pageScroll [pageScrollDuration]="400" href="#contato">Contato</a>
            </li>
            <li class="col-md-2 col-lg-3 d-none d-md-block">
              <div class="height-100 d-flex align-items-md-center">
                <a class="nav-link ml-auto" href="https://www.facebook.com/marinarestaurante">
                  <i appFade appFontSize [sizes]="[15,14,13]" class="icon-facebook circled"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>