<div class="container-inline wine mt-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <span class="text-white mt-2">
        <h2 class="d-none d-md-block">HORÁRIO DE FUNCIONAMENTO</h2>
      </span>
      <span class="text-white mt-2">
        <h4 class="d-md-none">HORÁRIO DE FUNCIONAMENTO</h4>
      </span>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="row col-9 col-sm-8 col-md-6 col-lg-5 col-xl-4 mb-2">
        <h6 class="text-white width-100 d-flex justify-content-between">
          <span class="beige mr-3">DE DOMINGO A SEGUNDA</span>
          <span>11:00 - 14:00</span>
        </h6>
        <h6 class="text-white width-100 d-flex justify-content-between">
          <span class="beige mr-3">FERIADOS</span>
          <span>11:00 - 14:00</span>
        </h6>
      </div>
    </div>
  </div>
</div>