<div class="container-inline wine mt-3">
  <div class="container">
    <div class="row pt-1">
      <span class="text-white width-100 text-center">
        <h6 appFontSize [sizes]="[30,26,22,17,11]" class="mb-1">HORÁRIO DE FUNCIONAMENTO</h6>
      </span>
    </div>
    <div class="row d-flex justify-content-center pb-1">
      <span class="d-flex flex-column justify-content-between beige text-right b-right col-6">
        <h6 appFontSize [sizes]="[14,12,11,9,7]" class="mb-0">DE SEGUNDA A DOMINGO</h6>
        <h6 appFontSize [sizes]="[14,12,11,9,7]" class="mb-0">FERIADOS</h6>
      </span>
      <span class="d-flex flex-column justify-content-between text-white text-left col-6">
        <h6 appFontSize [sizes]="[14,12,11,9,7]" class="mb-0">11:00 - 14:00</h6>
        <h6 appFontSize [sizes]="[14,12,11,9,7]" class="mb-0">11:00 - 14:00</h6>
      </span>
    </div>
  </div>
</div>