/* You can add global styles to this file, and also import other style files */
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}
.gray {
  background-color: rgb(240, 240, 240);
}
.wine {
  background-color: rgb(113,24,52);
}
.white {
  background-color: rgb(255, 255, 255);
}
.beige {
  color: rgb(255,239,213);
}
.wine-text {
  color: rgb(113,24,52);
}
.bb {
  border-bottom: 1px solid rgb(214, 210, 210);
}
.bt {
  border-top: 1px solid rgb(214, 210, 210);
}
.dark-modal .modal-content {
  background-color: rgb(113,24,52);
  color: white;
}
.dark-modal .close {
  color: white;   
}
.circled {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.2em 0.23em;
  color: rgb(0, 0, 0);
}
.clickable {
  cursor: pointer
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active {
  color: rgb(255,255,255);
  background-color: rgb(113,24,52);
  border-color: rgb(113,24,52);
  font-weight: 450;
}
.btn-light {
  border-color: rgb(113,24,52);
  background-color: rgb(255,255,255);
  color: rgb(113,24,52);
  font-weight: 450;
}
.btn-light-disabled {
  border-color: rgb(113,24,52);
  background-color: rgb(255,255,255);
  color: rgb(113,24,52);
  font-weight: 450;
}

/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}